$bar-color: #b8c2cc !default;
$bar-stroke: #8D99A6 !default;
$border-color: #e0e0e0 !default;
$light-bg: #f5f5f5 !default;
$light-border-color: #ebeff2 !default;
$light-yellow: #fcf8e3 !default;
$text-muted: #666 !default;
$text-light: #555 !default;
$text-color: #333 !default;
$blue: #a3a3ff !default;
$handle-color: #ddd !default;

:root {
	--dusk: #43496a;
	--soft-dusk: #43496a99;
	--dark: #192438;
	--cloudy-blue: #bfc2c7;
	--pale-grey: #eff1f5;
	--tea: #60be85;
	--soft-green-24: rgba(120, 194, 143, 0.24);
	--hospital-green: #99dfaf;
	--high-green: #A7FFC2;
	--soft-green: #78c28f;
	--dark-10: rgba(25, 36, 56, 0.1);
	--fr-yellow: #fdbd39;
	--fr-red: #e25555;
	--fr-pink: #FF8FA1;
	--fr-grey: #72757e;
}

.gantt {
	overflow: hidden !important;
	.grid-background {
		fill: var(--dusk);
	}
	.grid-header {
		fill: var(--dusk);
		color: #fff;
		stroke: #323956;
		stroke-width: 1.4;
	}
	.grid-row {
		fill: var(--dusk);
		border: none;
	}
	.grid-row-divider {
		fill: #323956;
		border: none;
		stroke-width: 2px !important;
		stroke: rgba(34,36,38,.15) !important;
	}
	.row-line {
		stroke: rgba(255, 255, 255, 0.1);
	}
	.tick {
		stroke: #323956;
		stroke-width: 0.6;
		&.thick {
			stroke: rgba(167, 255, 194, 0.3);
			stroke-width: 1.5;
		}
	}
	.today-highlight {
		fill: var(--hospital-green);
		opacity: 0.5;
	}

	.arrow {
		fill: none;
		stroke: $text-muted;
		stroke-width: 1.4;
	}

	.bar {
		fill: transparent;
		stroke: $bar-stroke;
		stroke-width: 0;
		transition: stroke-width .3s ease;
		user-select: none;
	}
	.bar-progress {
		fill: transparent;
	}
	.bar-invalid {
		fill: transparent;
		stroke: $bar-stroke;
		stroke-width: 1;
		stroke-dasharray: 5;

		&~.bar-label {
			fill: $text-light;
		}
	}
	.bar-label {
		fill: transparent;
		dominant-baseline: central;
		text-anchor: middle;
		font-size: 12px;
		font-weight: lighter;

		&.big {
			fill: transparent;
			text-anchor: start;
		}
	}

	.handle {
		fill: $handle-color;
		cursor: ew-resize;
		opacity: 0;
		visibility: hidden;
		transition: opacity .3s ease;
	}

	.bar-wrapper {
		cursor: pointer;
		outline: none;

		&:hover {
			.handle {
				visibility: visible;
				opacity: 1;
			}

			.bar-label {
				fill: #fff;
			}
		}

		&.active {
			.bar {
				stroke-width: 3px;
			}
		}
	}

	.lower-text, .upper-text {
		font-size: 12px;
		text-anchor: middle;
	}
	.upper-text {
		fill: var(--high-green);
	}
	.lower-text {
		fill: #fff;
	}

	.hide {
		display: none;
	}

	.show {
		display: block;
	}

	g[class*='unscheduled'] {
		display: none;
	}

	g[class*='divider'] {
		display: none;
	}

	.status-failed {
		fill: var(--fr-pink);
	}
	.status-complete {
		fill: var(--hospital-green) !important;
	}
	.status-todo {
		fill: rgba(145, 151, 163, 0.3);
		stroke-width: 2px;
		stroke: rgba(255, 255, 255, 0.3);
	}
	.status-in_progress {
		fill: transparent;
		stroke-width: 2px;
		stroke: #A7FFC2;
	}
	.status-redline {
		stroke-width: 2px;
		fill: transparent;
		stroke: var(--fr-pink);
	}
	.status-hold {
		fill: transparent;
		stroke-width: 2px;
		stroke: white;
	}
	.status-canceled {
		fill: transparent;
		stroke-width: 2px;
		stroke: rgba(0, 0, 0, 0.5);
	}
}

.gantt-container {
	background-color: var(--dusk);
	overflow: auto;
	font-size: 12px;

	.popup-wrapper {
		z-index: 3;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.8);
		padding: 0;
		color: #959da5;
		border-radius: 3px;

		.title {
			border-bottom: 3px solid $blue;
			padding: 10px;
		}

		.subtitle {
			padding: 10px;
			color: #dfe2e5;
		}

		.pointer {
			position: absolute;
			height: 5px;
			margin: 0 0 0 -5px;
			border: 5px solid transparent;
			border-top-color: rgba(0, 0, 0, 0.8);
		}
	}
}